<div id="search-and-title">
  <div id="items1">
    <h2 style="color: #34ce57;position: relative;margin-top: 20px">CONTRACT LIST</h2>
  </div>
  <div id="item2">
    <form id="item2-search">
      <label><input type="text" name="keyword" placeholder="Enter Start date or end date"></label>
      <label><input type="submit" value="Search" class="item-search"></label>
    </form>
  </div>
</div>

<!--<div th:if="${success}" style="position: relative;margin: 10px 130px">-->
<!--  <strong id="message" th:text="${success}" style="color: limegreen;margin-bottom: 10px"></strong>-->
<!--</div>-->

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">ID</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Deposit</th>
      <th scope="col">Employee</th>
      <th scope="col">Customer</th>
      <th scope="col">Service</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of listContract|paginate :{ itemsPerPage:3,currentPage :p},index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td> {{ contract.id}}</td>
      <td> {{ contract.startDate}}</td>
      <td> {{ contract.endDate}}</td>
      <td> {{ contract.deposit}}</td>
      <td> {{ contract.employeeName}}</td>
      <td> {{ contract.customerName}}</td>
      <td> {{ contract.serviceName}}</td>
      <td><a class="btn btn-primary" role="button" [routerLink]="['/contract/edit:id',contract.id]" >Edit</a></td>
      <td><a class="btn btn-danger" role="button" [routerLink]="['/contract/delete:id',contract.id]">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>



