<div><h1 style="color: #34ce57;text-align: center">Create Customer</h1></div>
<div class="container">
  <form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="code">Customer Code</label>
      <input type="text" id="code" class="form-control" formControlName="code" placeholder="Customer code..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('code').invalid && createCustomerForm.get('code').touched">Code invalid
      </div>
    </div>

    <div class="form-group">
      <label for="name">Customer Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Customer name..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('name').invalid && createCustomerForm.get('name').touched">Name invalid
      </div>
    </div>

    <div class="form-group">
      <label for="birthday">Birthday </label>
      <input class="form-control" type="date" formControlName="birthday" id="birthday" placeholder="Birthday ..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('birthday').invalid && createCustomerForm.get('birthday').touched">Birthday
        invalid
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" formControlName="gender" class="form-control">
        <option value=""selected>--Choose Gender--</option>
        <option value="Male">Male</option>
        <option value="Flame">Flame</option>
        <option value="Other">Other</option>
      </select>
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('gender').invalid && createCustomerForm.get('gender').touched">Gender invalid
      </div>
    </div>

    <div class="form-group">
      <label for="idCard">IDCard </label>
      <input type="text" id="idCard" class="form-control" formControlName="idCard" placeholder="IDCard ..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('idCard').invalid && createCustomerForm.get('idCard').touched">Id-card invalid
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Number Phone </label>
      <input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Number Phone ..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('phone').invalid && createCustomerForm.get('phone').touched">Number phone
        invalid
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email </label>
      <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email  ..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('email').invalid && createCustomerForm.get('email').touched">Email invalid
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address </label>
      <input type="text" formControlName="address" id="address" class="form-control" placeholder="Address  ..">
      <div style="color: #ff0026"
           *ngIf="createCustomerForm.get('address').invalid && createCustomerForm.get('address').touched">Address
        invalid
      </div>
    </div>

    <div class="form-group">
      <label class="mt-2">Customer Type :</label>
      <select formControlName="customerType" class="form-control" name="customerType">
        <option value="" selected>--Choose Customer Type--</option>
        <option *ngFor=" let customerType of customerTypes" [ngValue]="customerType">{{customerType.name}}</option>
      </select>
    </div>
    <div style="color: #ff0026"
         *ngIf="createCustomerForm.get('customerType').invalid && createCustomerForm.get('customerType').touched">CustomerType
      invalid
    </div>
    <button type="submit" class="btn-success" >Submit</button>
  </form>
</div>


