
<div><h1 style="color: #34ce57;text-align: center">Create Service</h1></div>
<div class="container">
  <form [formGroup]="createService" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Service Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Service name..">
      <div style="color: #ff0026"
           *ngIf="createService.get('name').invalid && createService.get('name').touched">Name invalid
      </div>
    </div>
    <div class="form-group">
      <label for="code">Code </label>
      <input type="text" id="code" class="form-control" formControlName="code" placeholder="Code ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('code').invalid && createService.get('code').touched">Code invalid
      </div>
    </div>
    <div class="form-group">
      <label for="area">Service Area </label>
      <input class="form-control"  type="number" id="area" formControlName="area" placeholder="Service Area ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('area').invalid && createService.get('area').touched">Service Area invalid
      </div>
    </div>
    <div class="form-group">
      <label for="cost">Cost </label>
      <input type="text" id="cost" class="form-control" formControlName="cost" placeholder="Cost ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('cost').invalid && createService.get('cost').touched">Cost invalid
      </div>
    </div>
    <div class="form-group">
      <label for="maxPeople">Max People </label>
      <input type="text" id="maxPeople" class="form-control" formControlName="maxPeople" placeholder="Max People ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('maxPeople').invalid && createService.get('maxPeople').touched">Max People invalid
      </div>
    </div>
    <div class="form-group">
      <label for="poolArea">Pool Area </label>
      <input type="text" id="poolArea" class="form-control" formControlName="poolArea" placeholder="Pool Area  ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('poolArea').invalid && createService.get('poolArea').touched">Pool Area invalid
      </div>
    </div>

    <div class="form-group">
      <label for="numberOfFloors">Number Of Floors</label>
      <input type="text" id="numberOfFloors" class="form-control" formControlName="numberOfFloors" placeholder="Number Of Floors ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('numberOfFloors').invalid && createService.get('numberOfFloors').touched">Number Of Floors invalid
      </div>
    </div>

    <div class="form-group">
      <label for="standardRoom">StandardRoom </label>
      <input type="text" id="standardRoom" class="form-control" formControlName="standardRoom" placeholder="StandardRoom  ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('standardRoom').invalid && createService.get('standardRoom').touched">StandardRoom invalid
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description </label>
      <input type="text" id="description" class="form-control" formControlName="description" placeholder="Description  ..">
      <div style="color: #ff0026"
           *ngIf="createService.get('description').invalid && createService.get('description').touched">Description invalid
      </div>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="rentType" >RentType  :</label>-->
<!--      <select  id="rentType" class="form-control" formControlName="rentType" >-->
<!--       <option></option>-->
<!--      </select>-->
<!--    -->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="serviceType" >Service Type :</label>-->
<!--      <select  id="serviceType" class="form-control" formControlName="serviceType" >-->
<!--        <option></option>-->
<!--      </select>-->
<!--    </div>-->

    <button type="submit" class="btn-success" [disabled]="createService.invalid">Submit</button>
  </form>
</div>

