<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Create Contract</title>
</head>
<body>
<div th:insert="layout/header"></div>
<div><h1 style="color: #34ce57;text-align: center">Create Contract</h1></div>
<div id="form">
  <form th:action="@{/contract/save}" method="post" th:object="${contractDto}">

    <label for="startDate">Start Date </label>
    <input class="form-control" type="date" id="startDate" th:field="*{startDate}" placeholder="startDate ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>

    <label for="endDate">End Date </label>
    <input class="form-control" type="date" id="endDate" th:field="*{endDate}" placeholder="endDate ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>


    <label for="deposit">Deposit </label>
    <input type="number" id="deposit" th:field="*{deposit}" placeholder="deposit ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></div>

    <label for="customer" >Customer :</label>
    <select  id="customer" th:field="*{customer}" >
      <option th:each="customer : ${customerList}"
              th:text="${customer.name}"
              th:value="${customer.id}"></option>
    </select>

    <label for="employee" >Employee :</label>
    <select  id="employee" th:field="*{employee}" >
      <option th:each="employee : ${employeeList}"
              th:text="${employee.name}"
              th:value="${employee.id}"></option>
    </select>

    <label for="service" >Service :</label>
    <select  id="service" th:field="*{service}" >
      <option th:each="service : ${serviceList}"
              th:text="${service.name}"
              th:value="${service.id}"></option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>

