<div style="color: #34ce57;text-align: center"><h1>Employee View</h1></div>
<div id="view-container">
  <div class="view-item">
    <strong>ID : </strong>
    <label>{{employee.id}}</label>
  </div>
  <div class="view-item">
    <strong>Name : </strong>
    <label>{{employee.name}}</label>
  </div>
  <div class="view-item">
    <strong>Birthday : </strong>
    <label>{{employee.birthday}}</label>
  </div>
  <div class="view-item">
    <strong>IdCard : </strong>
    <label>{{employee.idCard}}</label>
  </div>

  <div class="view-item">
    <strong>Phone : </strong>
    <label>{{employee.phone}}</label>
  </div>
  <div class="view-item">
    <strong>Email : </strong>
    <label>{{employee.email}}</label>
  </div>
  <div class="view-item">
    <strong>Address : </strong>
    <label>{{employee.address}}</label>
  </div>
  <div class="view-item">
    <strong>Position : </strong>
    <label>{{employee.position.name}}</label>
  </div>
  <div class="view-item">
    <strong>Education : </strong>
    <label>{{employee.education.name}}</label>
  </div>
  <div class="view-item">
    <strong>Division : </strong>
    <label>{{employee.division.name}}</label>
  </div>
</div>

