#view-container{
  background-color: #d0e7e7;
  position: relative;
  left: 25%;
  height: auto;
  width: 50%;
  border: solid black 1px;
  border-radius: 5px;
}
.view-item{
  color: red;
  padding: 5px;
  margin-left: 50px;
}
