


<div id="search-and-title">
  <div id="items1">
    <h2 style="color: #34ce57;position: relative;margin-top: 20px" >EMPLOYEE LIST</h2>
  </div>
  <button class="btn-success" [routerLink]="['/employee/create']">Create</button>
<!--  <div id="item2">-->
<!--    <form  id="item2-search">-->
<!--      <label><input type="text" name="keyword" placeholder="Enter employee name"></label>-->
<!--      <label><input type="submit" value="Search" class="item-search"></label>-->
<!--    </form>-->
<!--  </div>-->
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">IdCard</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Position</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
      <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of listEmployee| paginate: {itemsPerPage: 3, currentPage: p },index as i">
      <th scope="row" >{{ i + 1}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.birthday}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.position}}</td>
      <td><a class="btn btn-primary" role="button" [routerLink]="['/employee/edit:id',employee.id]">Edit</a></td>
      <td><a class="btn btn-danger" role="button" [routerLink]="['/employee/delete:id',employee.id]">Delete</a></td>
      <td><a class="btn btn-primary" role="button" [routerLink]="['/employee/view:id',employee.id]">View</a></td>

    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form  action="/employee/delete" method="post">-->
<!--        <div class="modal-body">-->
<!--          Bạn có chắc chắn muốn xóa ?-->
<!--        </div>-->
<!--        <input type="hidden" name="action" value="delete">-->
<!--        <input type="hidden" name="id" value="" id="employeeDel">-->
<!--        <input type="text" name="name" value="" id="employeeDelName" readonly>-->

<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>-->
<!--          <button type="submit" class="btn btn-primary">Có</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script>-->
<!--  function onDelete(id,name) {-->
<!--    document.getElementById("employeeDel").value = id;-->
<!--    document.getElementById("employeeDelName").value = name;-->
<!--  }-->
<!--</script>-->


