#search-and-title {
  display: flex;
  justify-content: space-between;
  margin: 10px 130px;
}

.item{
  display: flex;
  top: 25px;
}



.item-search{
  background-color: #34ce57;
  color: white;
  border: #34ce57;
}
