


<div id="search-and-title">
  <div >
    <a class="navbar-brand btn btn-primary mb-2 text-white" [routerLink]="['/employees/create']">Create Employee</a>
  </div>
  <div >
    <h2 style="color: #34ce57">EMPLOYEE LIST</h2>
  </div>
  <div class="item"  >
    <select [(ngModel)]="positionName"  class="form-control">
      <option value="" selected>All</option>
      <option *ngFor=" let position of positions" [ngValue]="position.name">{{position.name}}</option>
    </select>
    <input [(ngModel)]="term" class="form-control me-2 mx-2" type="search" placeholder="Enter employee name" aria-label="Search">
    <button style="height: 38px" class="btn btn-info text-white" type="button" (click)="searchEmployee()">Search</button>
  </div>
</div>

<div style="position: relative;margin: 10px 130px">
  <strong id="message" style="color: limegreen;margin-bottom: 10px"></strong>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">IdCard</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Position</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
      <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of listEmployee| paginate: {itemsPerPage: 5, currentPage: p },index as i">
      <th scope="row" >{{ i + 1}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.birthday}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.position.name}}</td>
      <td><a class="btn btn-primary" role="button" [routerLink]="['/employees/edit',employee.id]">Edit</a></td>
      <td><a class="btn btn-danger" role="button" (click)="openDialog(employee.id)">Delete</a></td>
      <td><a class="btn btn-primary" role="button" [routerLink]="['/employees/view',employee.id]">View</a></td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form  action="/employee/delete" method="post">-->
<!--        <div class="modal-body">-->
<!--          Bạn có chắc chắn muốn xóa ?-->
<!--        </div>-->
<!--        <input type="hidden" name="action" value="delete">-->
<!--        <input type="hidden" name="id" value="" id="employeeDel">-->
<!--        <input type="text" name="name" value="" id="employeeDelName" readonly>-->

<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>-->
<!--          <button type="submit" class="btn btn-primary">Có</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script>-->
<!--  function onDelete(id,name) {-->
<!--    document.getElementById("employeeDel").value = id;-->
<!--    document.getElementById("employeeDelName").value = name;-->
<!--  }-->
<!--</script>-->


