.hover-opacity {
  margin: 5px;
}

.container-footer {
  background-color: #000000;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  line-height: 27px;
  padding: 64px 0px;
  text-align: center
}

.to-the-top {
  background-color: #cccccc;
  border-radius: 5px;
  display: inline-block;
  font-family: Lato;
  font-size: 15px;
  line-height: 27px;
  padding: 8px 16px;
  text-align: center
}

.footer-section {
  color: #ffffff;
  font-size: 24px;
  line-height: 43.2px;
  margin: 16px 0px;
  text-align: center;
}

#powered-by {
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  line-height: 27px;
  margin: 15px 0px;
  text-align: center
}
