<footer class="container-footer">
  <a href="#home" class="to-the-top"><i class=""></i>To the top</a>
  <div class="footer-section">
    <i class="fa fa-facebook hover-opacity"></i>
    <i class="fa fa-instagram hover-opacity"></i>
    <i class="fa fa-snapchat hover-opacity"></i>
    <i class="fa fa-google-plus hover-opacity"></i>
    <i class="fa fa-twitter hover-opacity"></i>
    <i class="fa fa-linkedin hover-opacity"></i>
  </div>
  <p id="powered-by">Powered by <a href="#"
                   class="hover-text-green">furama-resort</a></p>
</footer>
