<div><h1 style="color: #34ce57;text-align: center">Create Contract</h1></div>
<div class="container">
  <form [formGroup]="createContract" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="startDate">Start Date </label>
      <input class="form-control" type="date" id="startDate" formControlName="startDate" placeholder="startDate ..">
      <div style="color: red" *ngIf="createContract.get('startDate').invalid && createContract.get('startDate').touched">
        StartDate invalid
      </div>
    </div>

    <div class="form-group">
      <label for="endDate">End Date </label>
      <input class="form-control" type="date" id="endDate" formControlName="endDate" placeholder="endDate ..">
      <div style="color: red" *ngIf="createContract.get('endDate').invalid && createContract.get('endDate').touched">
        EndDate invalid
      </div>
    </div>

    <div class="form-group">
      <label for="deposit">Deposit </label>
      <input type="number" id="deposit" class="form-control" formControlName="deposit" placeholder="deposit ..">
      <div style="color: red" *ngIf="createContract.get('deposit').invalid && createContract.get('deposit').touched">
        Deposit invalid
      </div>
    </div>

    <div class="form-group">
      <label for="customer">Customer :</label>
      <select id="customer" class="form-control" formControlName="customer">
        <option></option>
      </select>
      <div style="color: red" *ngIf="createContract.get('customer').invalid && createContract.get('customer').touched">
        Customer invalid
      </div>
    </div>

    <div class="form-group">
      <label for="employee">Employee :</label>
      <select id="employee" class="form-control" formControlName="employee">
        <option></option>
      </select>
      <div style="color: red" *ngIf="createContract.get('employee').invalid && createContract.get('employee').touched">
        Employee invalid
      </div>
    </div>

    <div class="form-group">
      <label for="service">Service :</label>
      <select id="service" class="form-control" formControlName="service">
        <option></option>
      </select>
      <div style="color: red" *ngIf="createContract.get('service').invalid && createContract.get('service').touched">
        Employee invalid
      </div>
    </div>

    <button type="submit" class="btn-success" [disabled]="createContract.invalid">Submit</button>
  </form>
</div>

