<div id="search-and-title">
  <div>
    <button class="btn-success" [routerLink]="['/customers/create']">Create</button>
  </div>
  <div id="items1">
    <h2 style="color: #34ce57">CUSTOMER LIST</h2>
  </div>
<!--  <div id="item2">-->
<!--    <label><input type="text" formControlName="name" placeholder="Enter customer name or code"></label>-->
<!--    <label>-->
<!--      <button class="item-search" (click)="search()" )>Search</button>-->
<!--    </label>-->
<!--  </div>-->
</div>

<div style="position: relative;margin: 10px 130px">
  <strong id="message" style="color: limegreen;margin-bottom: 10px"></strong>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Birthday</th>
      <th scope="col">Gender</th>
      <th scope="col">IdCard</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of listCustomer| paginate: {itemsPerPage: 3, currentPage: p },index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{customer.code}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>{{customer.birthday}}</td>
      <td>{{customer.gender}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td><a class="btn btn-primary" role="button" [routerLink]="['/customers/edit',customer.id]">Edit</a></td>

      <td><a class="btn btn-danger" role="button" [routerLink]="['/customers/delete',customer.id]">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form  action="/customer/delete" method="post">-->
<!--        <div class="modal-body">-->
<!--          Bạn có chắc chắn muốn xóa ?-->
<!--        </div>-->
<!--        <input type="hidden" name="action" value="delete">-->
<!--        <input type="hidden" name="id" value="" id="customerDel">-->
<!--        <input type="text"  value="" id="customerName" readonly>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>-->
<!--          <button type="submit" class="btn btn-primary">Có</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




