<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Customer</title>

</head>
<body>

<div><h1 style="color: #34ce57;text-align: center">Create Customer</h1></div>
<div id="form">
  <form>

    <label for="code">Customer Code</label>
    <input type="text" id="code"  placeholder="Customer code..">
    <div style="color: #ff0026" ></div>


    <label for="name">Customer Name</label>
    <input type="text" id="name"  placeholder="Customer name..">
    <div style="color: #ff0026" ></div>


    <label for="birthday">Birthday </label>
    <input class="form-control" type="date" id="birthday"  placeholder="Birthday ..">
    <div style="color: #ff0026" ></div>

    <div for="gender">Gender</div>
    <select id="gender" >
      <option value="Male">Male</option>
      <option value="Flame">Flame</option>
      <option value="Other">Other</option>
    </select>

    <label for="idCard">IDCard </label>
    <input type="text" id="idCard"  placeholder="IDCard ..">
    <div style="color: #ff0026" ></div>


    <label for="phone">Number Phone </label>
    <input type="text" id="phone" placeholder="Number Phone ..">
    <div style="color: #ff0026" ></div>


    <label for="email">Email </label>
    <input type="text" id="email"  placeholder="Email  ..">
    <div style="color: #ff0026" ></div>


    <label for="address">Address </label>
    <input type="text" id="address"  placeholder="Address  ..">

    <label for="customerType" >Customer Type :</label>
    <select  id="customerType"  >
      <option ></option>

    </select>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
