

<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Title</title>

</head>
<body>
<div id="logo-and-username">
  <div id="img">
    <img src="/assets/img/FURAMA.jpg" style="width: 80px;height: 100px">
  </div>
  <div style="margin-top: 25px" sec:authorize="isAuthenticated()" id="name-user">
    <strong style="color: white;margin: 8px 20px" sec:authentication="principal.username"></strong>
    <div id="logout">
      <a href="/logout" class="btn btn-success" role="button">Log out</a>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-success" >
  <a class="btn btn-success" href="/home" role="button">Furama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <a class="btn btn-success" href="/home" role="button">Home</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button style="border: none;color: white" class="btn btn-outline-primary dropdown-toggle" type="button"
                  id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employee
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/employee/create">Create New Employee</a>
            <a class="dropdown-item" href="/employee/list">Manager Employee </a>
          </div>
        </div>
      </li>
      <li class="nav-item ">
        <div class="dropdown">
          <button style="border: none;color: white" class="btn btn-outline-primary dropdown-toggle" type="button"
                  id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Customer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/customer/create">Create New Customer</a>
            <a class="dropdown-item" href="/customer/list">Manager Customer</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button style="border: none;color: white" class="btn btn-outline-primary dropdown-toggle" type="button"
                  id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Service
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/service/create">Create New Service</a>
            <a class="dropdown-item" href="/service/list">Manager Service </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button style="border: none;color: white" class="btn btn-outline-primary dropdown-toggle" type="button"
                  id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contract
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/contract/list">Manager Contract</a>
            <a class="dropdown-item" href="/contract/create_contract">Create New Contract</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button style="border: none;color: white" class="btn btn-outline-primary dropdown-toggle" type="button"
                  id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contract Detail
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/contract_detail/create">Create New Contract Details</a>
            <a class="dropdown-item" href="/contract_detail/list">Manager Contract Detail </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>

