
<div id="logo-and-username">
  <div id="img">
    <img src="/assets/img/FURAMA.jpg" style="width: 80px;height: 100px">
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-success" >
  <a class="btn btn-success" routerLink="/home" role="button">Furama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <a class="btn btn-success" routerLink="/home" role="button">Home</a>
      </li>

      <li class="nav-item">
        <a class="btn btn-success" routerLink="/employee/list" role="button">Employee</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/customer/list" role="button">Customer</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/service/list">Service</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/contract/list" role="button">Contract</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/contract-detail/list" role="button">Contract Detail</a>
      </li>

    </ul>
  </div>
</nav>


